@font-face {
    font-family: 'Moonkids';
    src: url(assets/fonts/moonkids-ext-bd-font/MoonkidsPersonalUseExtbd-gxPZ3.ttf);
}

@font-face {
    font-family: 'Purplemagic';
    src: url(assets/fonts/purple-magic-svg-font/PurplemagicdemoSvg-x32mO.otf)format('opentype');

}

@font-face {
    font-family: 'Megunso';
    src: url(assets/fonts/megunso-font/MegunsoDemoVersion-j9WD7.otf);

}

@font-face {
    font-family: 'Blanks';
    src: url(assets/fonts/blanks-script-font/BlanksscriptpersonaluseBdit-jEM6O.otf);

}

:root {
    --primary-text: #250d10;
    --background-color: #d0a583;
    --primary-color: #5f4e34;
    --secondary-color: #ad9f22;
    --accent-color: #ba4353;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;

}