body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    background-color: var(--background-color);
    /* Optional: for testing visibility */
}

.introduction {
    text-align: center;
    font-size: 40px;
    color: var(--background-color);
    margin: 100px;
    z-index: 1;

}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;

}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 2%; */
    width: auto;
    height: auto;
    object-fit: cover;
    /* Ensures the video covers the entire area */
    z-index: -1;
    margin: 0;
    padding: 0;
}


.introPhrase {
    text-shadow: 2px 2px 2px var(--accent-color);
}

.phrase {
    font-family: 'megunso';
    font-variant-ligatures: none;

}

.accent {
    font-family: 'Blanks';
    font-size: 2.5em;
    font-variant-ligatures: none;
}

.phrase,
.accent {
    display: inline;
    margin: 0;
    padding: 0;
}